html {
  background-color: #d6d9da;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #9ca2a3;
  padding-bottom: 10px;
}
.button {
  margin: 5px 10px;
  border: 1px transparent;
  background-color: #edf1f2;
}
.mainContainer {
  width: 70%;
  margin: 5vh auto;
  text-align: center;
}
.inputContainer {
  padding-top: 10px;
}
i {
  font-size: 1.5rem;
  padding: 0 2px;
  border: 1px rgb(194, 189, 189);
  border-left-style: solid;
  border-right-style: solid;
}
